<!-- begin:tagline -->	
<div id="tagline">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>The most effective way to advertise your College brand in China</h2>
				<p> Mango is elegant and easy to use.  Our web platform helps you post sponsored ads and create
					content on international social media.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h3>Colleges can advertise on:</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/Sina_Weibo.png" alt="Sina Weibo Logo">
					</div>
					<!-- <h3>Weibo</h3> -->
					<p><br>Weibo, <strong> the Chinese equivalent of Twitter </strong> has roughly 60.2 million active users.  Through Weibo Mango will create custom (mandarin) pages about your college.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/Renren.png" alt="Renren Logo">
					</div>
					<!-- <h3>Renren</h3> -->
					<p><br> Renren, <strong> the Chinese equivalent of Facebook </strong>, had 210 million unique log-in last may and through Renren Mango create mandarin pages in order to promote your colleges brand to millions. </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/Baidu.png" alt="Baidu Logo">
					</div>
					<!-- <h3>Baidu</h3> -->
					<p><br>Baidu is the <strong> Chinese equivalent to Google </strong> and by posting sponsored ads on Baidu
						Mango can guarantee that your College will be on of the top five results.</p>
				</div>
			</div>
		</div>
		<a name = "services"> </a>
	</div>
</div>
<!-- end:tagline -->

<!-- begin:featured -->
<div id="featured">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h2>Sample Advertisements</h2>
					<p>Below is a brief glimpse of what our advertisements could look like on Renren or Weibo.  
					Keep in mind that your ads will be customized for your College! </p>
				</div>
				<div class="slides">
		          <ul> <!-- slides -->
		            <li>
		              <img src="img/twoads-01.png" alt="image01" />
		            </li>
		            <li>
		              <img src="img/admockup-06.png" alt="image02"/>
		            </li>
		            <li>
		              <img src="img/admockup-5.png" alt="image03" />
		            </li>
		            <li>
		              <img src="img/AdMockup-03.png" alt="image04" />
		            </li>
		          </ul>
		        </div>
			</div>

			<div class="col-md-12">
				<div class="heading-title">
					<h2>Get noticed by an International Audience</h2>
					<p>With advanced features, you'll fall in love with. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="blog-container">
					<%= image_tag("flat-feature-icon-1.png", alt: "Ico 1") %>
					<h3>Custom Analytics</h3>
					<p>Browse and analyze detailed statistics of your advertising campaigns.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="blog-container">
					<%= image_tag("flat-feature-icon-2.png", alt: "Ico 2") %>
					<h3>Fast Turnover</h3>
					<p>Launch your advertising campaign instantly. We'll help you get the job done.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="blog-container">
					<%= image_tag("flat-feature-icon-3.png", alt: "Ico 3") %>
					<h3>Highly Affordable</a></h3>
					<p>We know you're on a tight budget. You'll never over pay. We promise.</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- end:blog -->

<!-- begin:pricing -->
<div class="page-content contact">
	<div class="container-pricingEV">		
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Honest pricing.  No surprises.</h2>
				<p>Get started and purchase advertising credit today!  We offer advertisement plans on three different websites.  All of our plans are available in three month, six month, and nine long intervals.  In addition to the advertisement plans we offer extras that can help tailor the plan for your specific school.  
				</p>
			</div>
		</div>
		
		<div class="row padd20-top-btm">
			<div class="col-md-12 text-center">
				<h3>advertisement options</h3>
			</div>
		</div>
		<!--price boxes -->
		<div class="row">
			<div id = "p1" class="col-md-3 col-sm-6 col-xs-12 pricing-table">
	            <ul class="list-unstyled">
	              <li class="head">Weibo</li>
	              <li class="price"> $8,000 <p> For Three Months</p><p></p></li>
	              <li>
	              	Includes a Weibo page with customized information and two to three unique posts per day.  In addition to the pages, advertisements, linking back to the informational pages, will be run in order to gain exposure for your pages. 
	              </li>
	              <li class = "foot">
	              	<%= link_to "Make A Purchase", store_path, class: "btn btn-warning" %>
	              </li>
	            </ul>
	        </div>
			<div id = "p2" class="col-md-3 col-sm-6 col-xs-12 pricing-table">
	            <ul class="list-unstyled">
	              <li class="head">Renren</li>
	              <li class="price"> $10,000 <p>For Three Months</p><p></p></li>
	              <li>Includes a Renren page with customized information and two to three unique posts per day.In addition to the pages, advertisements, linking back to the informational pages, will be run in order to gain exposure for your pages.</li>
	              <li class = "foot">
	              	<%= link_to "Make A Purchase", store_path, class: "btn btn-warning" %>
	              </li>
	            </ul>
	        </div>
			<div id = "p3" class="col-md-3 col-sm-6 col-xs-12 pricing-table">
	            <ul class="list-unstyled">
	              <li class="head">Baidu</li>
	              <li class="price"> $8,000 <p>For Three Months</p><p></p></li>
	              <li>Includes posting sponsored ads and banner ads on Baidu that link back to content posted on Renren, Weibo, youku, or customized landing pages. </li>
	              <li class = "foot">
	              	<%= link_to "Make A Purchase", store_path, class: "btn btn-warning" %>
	              </li>
	            </ul>
	        </div>	
	       	<div id = "p4" class="col-md-3 col-sm-6 col-xs-12 pricing-table">
	            <ul class="list-unstyled">
	              <li class="head">Extras</li>
	              <li class="price"> $15,000 <p> For Three Months</p><p></p></li>
	              <li> Landing Page (three pages): $2,000<br>
	              	   Video hosted on Youku: $800<br>
	              	   Extra web page: $500 (per page)
	              </li>
	              <li class = "foot">
	              	<%= link_to "Make A Purchase", store_path, class: "btn btn-warning" %>
	              </li>
	            </ul>
	      	</div> 
		</div>
		<!-- end price boxes -->
		<div class="foot">
			
		</div>

		<!-- add to cart, contains .erb -->
		
        <!--end add to cart metrics 
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
	      		<ul class="list-unstyled">
					<li>  
		          		<div class = "demo">		
							<select class="wrapper-dropdown-5" name="ServicePlan">
								<div>
								<option value="saab" class = "select-options">3 Months</option>
								<option value="opel" class = "select-options">6 Months</option>
								<option value="audi" class = "select-options">9 Months</option>
							</div>
							</select>       
						</div>      
					</li>
	        		<li class="foot"><a href="#" class="btn btn-warning btn-larges">Purchase</a></li>
	        	</ul>
			</div>
			-->
		</div>
	</div>
<!-- end:pricing -->
	


<!-- begin:testimoni -->
<div id="testimoni">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="testimoni-icon"><i class="fa fa-quote-left"></i></div>
				<h3>Our Testimonials</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="testi" class="carousel slide" data-ride="carousel">
			      <div class="carousel-inner">
			        <div class="item active">
			           <p class="testimoni-item">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<h4>&#8212; John doe, Scriptlabs &#8212;</h4>
			        </div>
			        <div class="item">
			           <p class="testimoni-item">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<h4>&#8212; John doe, Scriptlabs &#8212;</h4>
			        </div>
			        <div class="item">
			           <p class="testimoni-item">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<h4>&#8212; John doe, Scriptlabs &#8212;</h4>
			        </div>
			      </div>
			      <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
			      <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
			    </div>
			</div>
		</div>
	</div>
</div>
<!-- end:testimoni -->