<!-- begin:content -->
<% provide(:title, 'Report') %>
<div class="page-content">
	<div class="container">
		<div class="row padd20-top-btm">
			<h2 class="profile"> Order: #<%= @last_order.id %> </h2>
		</div>
		<div class = "row ">
			<div class = "col-md-6 col-sm-4">
				<p> <strong>Order: </strong> 
					<% @last_order_items.each do |items| %>
						<%= items.product.title %>
					<% end %>
				<p> <strong>Week: </strong> Three</p>
			</div>
			<div class="col-md-6 col-sm-4">
				<p><strong>Campaign Launch: </strong> <%= @last_order.created_at.strftime("%m/%d/%Y") %> </p>
				<p> <strong> View:</strong> Ads, Invoice, Content </p>
			</div>
		</div>
		<div class= "row profile">
			<h4> <strong> So far you have <%= @recent_week.email_signups %> email signups!  If you convert an industry average 1 %, you will recieve <%= email_signups %> additional international
				<% if @recent_week.email_signups * 0.1 <= 1 %>
					student!
					<% else %> 
					students! 
				<% end %>
			</strong></h4>
		</div>	
		<div class = "row padd20-top-btm">
			<div class = "col-md-6 col-sm-4">
				<p> Total Advertisment Clicks... <%= total_clicks %></p>
				<p> Total Page Views... Add Column </p>
				<p> Visitors Per Day... Add Column</p>
			</div>
			<div class="col-md-6 col-sm-4">
				<p>Baidu Searches... Add Column</p>
				<p>Email Signups... <%= email_signups %></p>
				<p>Unique ad clicks... Add Column </p>
			</div>
		</div>	
		<div class= "row">
			<div class = "col-md-4 col-sm-6">
				<h3> Your Advertisments Click Rate </h3>
				<%= content_tag :div, "", id: "click_chart", data: {clicks: clickthrough_data} %>
				<div class = "text-center">
					<p> Weeks </p>
				</div>
			</div>
			<div class = "col-md-4 col-sm-6">
				<h3> Email Signups </h3>
				<%= content_tag :div, "", id: "click_chart2", data: {clicks: email_data} %>
				<div class = "text-center">
					<p> Weeks </p>
				</div>
			</div>
			<div class = "col-md-4 col-sm-6">
				<h3> Weibo followers </h3>
				<%= content_tag :div, "", id: "click_chart3", data: {clicks: weibo_data} %>
				<div class = "text-center">
					<p> Weeks </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->
