<!-- begin:content -->
<% provide(:title, 'Welcome') %>
<div class="page-content">
	<div class="container">
		<div class="row padd20-top-btm">
			<div>
				<h2> Hello <%= current_user.email %> </h2>
				<div class= "row">
					<div class = "col-md-4 col-sm-6">
						<%= content_tag :div, "", id: "click_chart", data: {clicks: chart_data} %>
					</div>
					<div class = "col-md-4 col-sm-6">
						<%= content_tag :div, "", id: "click_chart2", data: {clicks: chart_data} %>
					</div>
					<div class = "col-md-4 col-sm-6">
						<%= content_tag :div, "", id: "click_chart3", data: {clicks: chart_data} %>
					</div>
				</div>
			</div>
		</div>
		<div class="row padd20-top-btm">
			<h3> View Your Past Orders </h3>
				<% if @orders.any? %>
					<table> 
						<thead>
							<tr>
								<th> Date Purchased </th>
								<th> Name On Order </th>
								<th> Email On Order </th>
								<th> Order Amount </th>
							</tr>
						</thead>
						<% @orders.each do |o| %>
							<tr>
								<td> <%= o.created_at.strftime("%d %b %y")  %> </td>
								<td> <%= o.name %> </td>
								<td> <%= o.email %> </td>
								<td> <%= number_to_currency(o.total_price) %> </td>
							</tr>
					<% end %>
				</table>
				<% else %>
					<p> You haven't made any purchases! Click <%= link_to "here", store_path %> to view our store</p>
			<% end %>
			<div>
			</div>
		</div>
		<dif class="row">
		</div>
	</div>
</div>
<!-- end:content -->
