<h1>Listing analytics_by_weeks</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Weibo followers</th>
      <th>Email signups</th>
      <th>Seo rank</th>
      <th>Weibo clicks</th>
      <th>Baidu clicks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analytics_by_weeks.each do |analytics_by_week| %>
      <tr>
        <td><%= analytics_by_week.week %></td>
        <td><%= analytics_by_week.weibo_followers %></td>
        <td><%= analytics_by_week.email_signups %></td>
        <td><%= analytics_by_week.seo_rank %></td>
        <td><%= analytics_by_week.weibo_clicks %></td>
        <td><%= analytics_by_week.baidu_clicks %></td>
        <td><%= link_to 'Show', analytics_by_week %></td>
        <td><%= link_to 'Edit', edit_analytics_by_week_path(analytics_by_week) %></td>
        <td><%= link_to 'Destroy', analytics_by_week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analytics by week', new_analytics_by_week_path %>
