<%= form_for(@campaign_item) do |f| %>
  <% if @campaign_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign_item.errors.count, "error") %> prohibited this campaign_item from being saved:</h2>

      <ul>
      <% @campaign_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration_id %><br>
    <%= f.number_field :duration_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.number_field :cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
