<h1>Listing campaign_items</h1>

<table>
  <thead>
    <tr>
      <th>Duration</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_items.each do |campaign_item| %>
      <tr>
        <td><%= campaign_item.duration_id %></td>
        <td><%= campaign_item.cart_id %></td>
        <td><%= link_to 'Show', campaign_item %></td>
        <td><%= link_to 'Edit', edit_campaign_item_path(campaign_item) %></td>
        <td><%= link_to 'Destroy', campaign_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign item', new_campaign_item_path %>
