<h1>Listing durations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Rate</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @durations.each do |duration| %>
      <tr>
        <td><%= duration.title %></td>
        <td><%= duration.length %></td>
        <td><%= duration.rate %></td>
        <td><%= duration.discount %></td>
        <td><%= link_to 'Show', duration %></td>
        <td><%= link_to 'Edit', edit_duration_path(duration) %></td>
        <td><%= link_to 'Destroy', duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duration', new_duration_path %>
