<div class="container">
  <div class="row">
  <%= simple_form_for(@order, :html => {:class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-md-5">
      <%= f.input :name, wrapper_html: { class: 'new-order' }, size: 40 %>
      <%= f.input :email, size: 40, wrapper_html: { class: 'new-order' } %>
      <%= f.input :phone_number, wrapper_html: { class: 'new-order' } %>
      <%= f.input :college_name, size: 100, wrapper_html: { class: 'new-order' } %>
    </div>
    <div class="form-inputs col-md-5">
      <%= f.input :address, rows: 3, cols: 40, wrapper_html: { class: 'new-order' } %>
      <%= f.input :state, wrapper_html: { class: 'new-order' }%>
      <%= f.input :city, wrapper_html: { class: 'new-order' } %>
      <%= f.input :zip_code, size: 20, wrapper_html: { class: 'new-order' } %>
      <%= f.label :plan_type, wrapper_html: { class: 'new-order' } %>
      <%= f.select :plan_type, Order::CAMPAIGN_TYPES, prompt: 'Select a campaign length', wrapper_html: { class: 'new-order' } %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    
    </div>
    
    
  <% end %>
  </div>
</div>