<% provide(:title, 'Completed Order') %>
<div class = "container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @order.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @order.email %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @order.phone_number %>
  </p>

  <p>
    <strong>College:</strong>
    <%= @order.college_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @order.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @order.state %>
  </p>  

  <p>
    <strong>Zipcode:</strong>
    <%= @order.zip_code %>
  </p>

  <p>
    <strong>Plan type:</strong>
    <%= @order.plan_type %>
  </p>

  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Receive Invoice', order_path(@order, :format => 'pdf') %>
</div>