<% provide(:title, "Contact Us") %>
<div class="page-content">
  <div class="container">
    <div class="row padd20-top-btm">
      <div class = "col-md-4 col-xs-6">
        <h3>How to reach us</h3>
        <p>Please use the contact form on the right side if you have any questions or requests concerning our services.</p>
        <br><p> We will respond to your message within 48 hours.</p>
        <p><strong>For updates join our mailing list</strong></p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class = "mc-signup">
          <form action="http://consultmango.us8.list-manage1.com/subscribe/post?u=1754f04ee3254a4d9895464bc&amp;id=6e42c28d90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <!--<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1754f04ee3254a4d9895464bc_6e42c28d90" tabindex="-1" value=""></div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-warning">
              </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <div class = "col-md-4 col sm-12 col-xs-12">
        <div align="center"> <h3>General</h3></div>
        <p>1621 Euclid Avenue</p>
        <p>Suite-2150</p>
        <p>Cleveland, Ohio 44106 </p>
        <p><strong>Tel:</strong> 860-462-9445 or 440-391-3421</p>
        <p><strong>Email:</strong> admin@consultmango.com</p>
      </div>
      <div class = "col-md-4 col-sm-12 col-xs-12">
          <div align="right">
          <h3>Send Us A Message</h3>
          <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <div class = "col-xs-12"> <%= f.input :name, :required => true, wrapper_html: { class: 'special-label form-group' } %> </div>
            <div class = "col-xs-12"> <%= f.input :email, :required => true, wrapper_html: { class: 'special-label form-group' } %> </div>
            <div class = "col-xs-12"> <%= f.input :message, :as => :text, :required => true, wrapper_html: { class: 'special-label form-group' } %> </div>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              <br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary btn-warning" %>
            </div>
          <% end %>
          </div> 
      </div>
    </div>
  </div>
</div>