<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Mango Advertise College or University Brand Internationally.  Place targeted ads and create content in China on Renren, Sina Weibo, Biadu">
    <meta name="keywords" content="Mango Advertise College or University Brand Internationally.  Place targeted ads and create content in China on Renren, Sina Weibo, Biadu">
    <meta name="author" content="Eric, Kevin">
    <meta name="google-site-verification" content="S7ZPb5Ap_mAb7S_N9sozntq6ZG4B2uRQ_-HZZB6R_VM" />
    <%= favicon_link_tag 'mangofavicon5.ico' %>
 

  <%= render 'layouts/shim' %>
	<title>Mango, Advertise To the World</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>
  	<%= render "layouts/navbar" %>

    <% if current_page?(root_path) %>
      <%= render 'layouts/home_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in" id = "disappear">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  	
    <%= yield %>
  	
  	<%= render "layouts/footer" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/script.js"></script>
-->
  </body>
</html>